*{margin: 0 auto ;
   
  background-color: rgb(191, 216, 197);
  


}


  header{
    display : flex;
    margin: 10px auto;
    padding: 10px;
    background-color: rgb(211, 216, 191);
    flex-direction: row;
   justify-content: left;
    align-items: left;
  }

.f1{
   display : flex;
   flex-direction: row;
   justify-content: left;
    align-items: left;   
}

  
.f_box{
   display : flex;
   flex-direction: row;
   justify-content: right;
}

.f2{
   display : flex;
   width: 100px; 
   height: 50px;
   justify-content: center;
 }

.jumbotron {
 display: flex;
 height: 100%;
 background-color: rgb(196, 191, 216);
 margin: 15px auto;
 padding: 20px;
 justify-content:  center;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: rgb(121, 14, 6);
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-centered {
  position: absolute;
  bottom: 8px;
  right: 16px;
  transform: translate(-150%, -175%);
  font-size: 24px;
  font-weight: bold;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 36px;
  font-weight: bold;
  transform: translate(-50%, -50%);
}




.cards {
  display: flex ;
  min-height: 600px;
  width: auto;  
  flex-direction: row;
  gap: auto;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;

}
  
  
  .cards img {
  
  width: 300px;
  min-height: height 200px;
  border: 8px solid black;
  border-radius: 10px;
  gap: 2px;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
 
  }

 
  .productos{
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 48px;
    margin: 10px;
  }



@media screen and (min-width: 600px) {
   * {background-color: rgb(199, 199, 121);
  }
}


@media screen and (min-width: 800px) {
   * {background-color: rgb(78, 181, 143);
  }
}

@media screen and (min-width: 1000px) {
   * {background-color: rgb(188, 213, 139);
  }
}

@media screen and (min-width: 1200px) {
   * {background-color: rgb(200, 211, 79);
  }
}

@media screen and (min-width: 1400px) {
   * {background-color: rgb(197, 233, 224);
  }
}